{% extends 'base.html' %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-primary"><a href="{% url 'home:index' %}">
                <i class="bi bi-house-door-fill text-primary"></i>
                inicio</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'studies_medicals:studiesmedicals_list' %}">Exámenes</a></li>         
        </ol>
    </nav>
    {% include 'components/messages.html' %}
    
    <h1 class="display-5 fw-medium">Resultados</h1>
    <p>{{ studie_medical.type_studie }}</p>

    <p>Profesional solicitante: {{ studie_medical.medical.name }} {{ studie_medical.medical.last_name }}</p>
    <p>Paciente: {{ studie_medical.patient }}</p>
    <p>DNI: {{ studie_medical.patient.patient.dni }}</p>
    <p>Edad: {{ studie_medical.patient.patient.age }}</p>
    <p> Sexo: {{ studie_medical.patient.patient.sex }}</p>
    <p>Toma muestra: {{ studie_medical.date_joined }}</p>

    {% if studie_medical.result %}
        <img  class="img-fluid" src="{{ studie_medical.result.url }}" alt="imagen">
    {% endif %}

    <div class="mt-2 d-flex  justify-content-between">
        <a href="{% url 'studies_medicals:studiesmedicals_update' studie_medical.id %}"  class="btn btn-primary">Actualizar</a>
        <a class="btn btn-danger" href="{% url 'studies_medicals:studiesmedicals_delete' studie_medical.id %}" class="link-danger" data-toggle="modal" data-target="#confirmDeleteModal">Eliminar</a>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este estudio?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    <a href="{% url 'studies_medicals:studiesmedicals_delete' studie_medical.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}