{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
{% include 'components/messages.html' %}
    <div class="mx-0 mx-lg-5">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-primary"><a href="{% url 'home:index' %}">
                    <i class="bi bi-house-door-fill text-primary"></i>
                    Inicio</a>
                </li>
                {% if request.path == '/clinic/studies/create' %}
                    <li class="breadcrumb-item active" aria-current="page">Crear examen</a></li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">Actualizar examen</a></li>
                {% endif %}
                
            </ol>
        </nav>

        <h2 class="display-5 fw-medium pb-4">
            {% if request.path == '/clinic/studies/create' %}
            Crear 
            {% else %}
            Actualizar 
            {% endif %}
            exámen
        </h2>
        
        
        <form method="post" action="" enctype="multipart/form-data" class="align-items-center">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field|add_class:"form-control" }}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
    
            {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            
            <div class=" mt-5">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
{% endblock content %}
