{% extends 'base.html' %}

{% block content %}

{% include 'components/messages.html' %}

<div class="py-lg-4 text-center">
    <form action="{% url 'studies_medicals:studiesmedicals_list' %}" method="get">
        <input name="consult" type="text" placeholder="Buscar por nombre o DNI...">
    </form>
</div>

{% if studies_medicals %}
<table class="table">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>DNI</th>
            <th></th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        {% for studie in studies_medicals %}
        <tr>
            <td>{{ studie.patient  }}</td>
            <td>{{ studie.patient.patient.dni  }}</td>
    
            <td>
                <a href="{% url  'studies_medicals:studiesmedicals_detail' studie.id %}" class="btn btn-secondary">Ver detalle</a>
            </td>
            <td>
                <a href="{% url 'studies_medicals:studiesmedicals_update' studie.id %}" class="btn btn-primary">Actualizar</a>
            </td>
            <td>
                <a href="{% url 'studies_medicals:studiesmedicals_delete' studie.id %}" class="btn btn-danger">Eliminar</a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
        <p class="fs-4 fst-italic">No hay registros ingresados</p>
{% endif %}

<div class="d-grid gap-3 mt-4">
{% if is_medical %}
    <a href="#" class="btn btn-info return">Volver atrás</a>
{% else %}
    <a href="#" class="btn btn-info return">Volver atrás</a> 
{% endif %}
</div>


{% endblock content %}