{% extends 'base.html' %}

{% block content %}
    <h2 class="fw-bolder display-5 mb-4">¿Confirmas eliminar la Historia Clinica DNI: {{ object.patient.dni }}?</h2>

    <form method="post">
        {% csrf_token %}
        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-danger">Confirmar</button>
        </div>
    </form>
    <div class="d-grid gap-3 mt-4">
        <a href="{% url 'medical_history:medicalhistory_list' %}" class="btn btn-info">Volver atrás</a>
    </div>
{% endblock content %}