{% extends "base.html" %}

<h1>Clinica</h1>


{% block content %}

    {% if is_patient %}
        <h2>Paciente: {{ user.name }} {{ user.last_name }}</h2>
        {% if medical_history %}
        <div class="d-grid gap-3">
            <a href="{% url 'medical_history:medicalhistory_detail' medical_history.id %}" class="btn btn-primary">Ver mi Historia Clinica</a><br>
            <a href="{% url 'studies_medicals:studiesmedicals_list' %}" class="btn btn-primary">Ver mis Estudios</a><br>
        </div>
        {% else %}
        <p class="fs-4 fst-italic">No hay registros de Historia Clinica para este paciente</p>
        {% endif %}
    {% endif %}

    {% if is_medico or user.is_staff %}
        <h2>Medico: {{ user.name }} {{ user.last_name }}</h2>
        <div class="d-grid gap-3">
            <h2 class="display-5"> Historia Clinica</h2>
            <a href="{% url 'medical_history:medicalhistory_create' %}" class="btn btn-primary">Crear Historia Clinica</a> 
            <a href="{% url 'medical_history:medicalhistory_list' %}" class="btn btn-primary">Ver Historias Clinicas</a> <br>
        </div>
        <div class="d-grid gap-3">
            <h2 class="display-5"> Estudios</h2>
            <a href="" class="btn btn-primary">Crear Estudio</a> 
            <a href="{% url 'studies_medicals:studiesmedicals_list' %}" class="btn btn-primary">Ver Estudios</a> <br>
        </div>
    {% endif %}



    <div class="d-grid gap-3 mt-4">
        <a href="" class="btn btn-info">Volver atrás</a>
    </div>
{% endblock content %}