{% extends "medical_history/list.html" %}

{% block nav %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item text-primary"><a href="{% url 'home:index' %}">
            <i class="bi bi-house-door-fill text-primary"></i>
            Inicio</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Historiales médicos</a></li>
        
    </ol>
</nav>
    
{% endblock nav %}

{% block search %}
    <div class="d-flex justify-content-between">
        <h2 class="display-5 mb-4 fw-medium">Historiales médicos</h2>
        <!-- Sirve para buscar historias clinicas por paciente. Se pasa a la variable "consult" de la vista. -->
        <div class="py-lg-4 text-center">
            <form action="{% url 'medical_history:medicalhistory_list' %}" method="get">
                <input name="consult" type="text" placeholder="Buscar por nombre o DNI...">
            </form>
        </div>

    </div>

{% endblock search %}
       
{% block table_header %}
    <tr>
        <th>Paciente</th>
        <th>DNI</th>
        <th></th>
        <th></th>
        <th></th>
        
    </tr>
{% endblock table_header %}
     
{% block table_body %}
    {% for medical_history in object_list %}
        <tr>
            <td>{{ medical_history.patient.name  }} {{ medical_history.patient.last_name }}</td>
            <td>{{ medical_history.patient.dni }}</td>
    
            <td>
                <a href="{% url 'medical_history:medicalhistory_detail' medical_history.id %}" class="">Ver detalle</a>
            </td>
            <td>
                <a href="{% url 'medical_history:medicalhistory_update' medical_history.id %}" class="">Actualizar</a>
            </td>
            <td>
                <a href="{% url 'medical_history:medicalhistory_delete' medical_history.pk %}" class="text-danger" data-toggle="modal" data-target="#confirmDeleteModal">Eliminar</a>
            </td>
        </tr>
        
        <!-- Modal -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas eliminar esta historia médica?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                        <a href="{% url 'medical_history:medicalhistory_delete' medical_history.pk %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock table_body %}