{% extends "medical_history/list.html" %}

<h2 class="display-5 mb-4">Listado de Historias Clinicas</h2>

{% block search %}
    <!-- Sirve para buscar historias clinicas por paciente. Se pasa a la variable "consult" de la vista. -->
    <div class="py-lg-4 text-center">
        <form action="{% url 'medical_history:medicalhistory_list' %}" method="get">
            <input name="consult" type="text" placeholder="Buscar por nombre o DNI...">
        </form>
    </div>
{% endblock search %}
       
{% block table_header %}
    <tr>
        <th>Paciente</th>
        <th>DNI</th>
        <th></th>
        <th></th>
        <th></th>
        
    </tr>
{% endblock table_header %}
     
{% block table_body %}
    {% for medical_history in object_list %}
        <tr>
            <td>{{ medical_history.patient.name  }} {{ medical_history.patient.last_name }}</td>
            <td>{{ medical_history.patient.dni }}</td>
    
            <td>
                <a href="{% url 'medical_history:medicalhistory_detail' medical_history.id %}" class="btn btn-secondary">Ver detalle</a>
            </td>
            <td>
                <a href="{% url 'medical_history:medicalhistory_update' medical_history.id %}" class="btn btn-primary">Actualizar</a>
            </td>
            <td>
                <a href="{% url 'medical_history:medicalhistory_delete' medical_history.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}