#div-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}


#div-footer{
    background-color: blueviolet;
}
#div-footer h5 {
    color: white;
}

#div-footer a {
    color: white;
}
#div-footer span {
    color: white;
}
