{% extends "base.html" %}
{% load static %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Exámenes</li>
    </ol>
</nav>
<h1>Exámenes</h1>
<div class="card w-100 mt-3">
    <div class="card-body">
        <h5 class="card-title">Perfil Lipídico</h5>
        <p class="card-text">Realizado el </p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
<div class="card w-100 mt-3">
    <div class="card-body">
        <h5 class="card-title">Hormonas Tiroideas</h5>
        <p class="card-text">Realizado el </p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
<div class="card w-100 mt-3">
    <div class="card-body">
        <h5 class="card-title">Hemoglobina Glicosilada</h5>
        <p class="card-text">Realizado el </p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
{% endblock %}