{% extends "base.html" %}
{% load static %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="#">Exámenes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Perfil Lipídico</li>
    </ol>
</nav>
<div class="mt-3 w-100">
<h1>Perfil Lipídico</h1>
</div>
<div class="card w-100 mt-3">
    <div class="card-body">
        <h5 class="card-title">Realizado el </h5>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
<div class="card w-100 mt-3">
    <div class="card-body">
        <h5 class="card-title">Realizado el</h5>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
{% endblock %}