{% extends "base.html" %}
{% load static %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="#">Exámenes</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="#">Perfil Lipídico</a></li>
        <li class="breadcrumb-item active" aria-current="page">Resultados</li>
    </ol>
</nav>
<div class="mt-3 w-100">
    <h1>Resultados</h1>
    <h5>Perfil Lipídico</h5>
</div>
<div class="line-height-3">
    <p>Nombre:</p>
    <p>Edad: </p>
    <p>Sexo:</p>
    <p>Tipo de muestra:</p>
    <p>Toma de muestra:</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Resultado</th>
            <th>Unidad</th>
            <th>Valores de ref.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p class="text-sm">Colesterol Total</p>
            </td>
            <td>185</td>
            <td>mg/dL</td>
            <td>Hasta 200</td>
        </tr>
        <tr>
            <td class="text-sm">Colesterol - HDL</td>
            <td>63</td>
            <td>mg/dL</td>
            <td>40-60</td>
        </tr>
        <tr>
            <td>Colesterol - LDL</td>
            <td>93</td>
            <td> mg/dL</td>
            <td>Hasta 140</td>
        </tr>
        <tr>
            <td>Colesterol - VLDL</td>
            <td>29</td>
            <td> mg/dL</td>
            <td>Hasta 30</td>
        </tr>
        <tr>
            <td>Triglicéridos</td>
            <td>143</td>
            <td> mg/dL</td>
            <td>0-150</td>
        </tr>
        <tr>
            <td>Colesterol Total/HDL</td>
            <td>29</td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <a class="btn btn-primary">Compartir</a>
</div>
{% endblock %}