{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        {% include 'components/messages.html' %}
        
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'studies_medicals:studiesmedicals_type' %}">{{ request.user.name }} {{ request.user.last_name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'studies_medicals:studiesmedicals_studies' pk_type=studie_medical.type_studie.id %}">{{ studie_medical.type_studie.name }}</a></li>
                <li class="breadcrumb-item">Resultados</li>
            </ol>
        </nav>

        <h1 class="display-5 fw-medium">Resultados</h1>
        <div class="">
            <p class="fw-bold">{{ studie_medical.type_studie }}</p>
            <br>
            <p>Examen: {{ studie_medical.name }}</p>
            <p>Toma muestra: {{ studie_medical.date_joined }}</p>
            <p>Profesional solicitante: {{ studie_medical.medical.name }} {{ studie_medical.medical.last_name }}</p>
            <p>Paciente: {{ studie_medical.patient }}</p>
            <p>DNI: {{ studie_medical.patient.patient.dni }}</p>
            <p>Edad: {{ studie_medical.patient.patient.age }}</p>
            <p> Sexo: {{ studie_medical.patient.patient.sex }}</p>
            <p>Observaciones: {{ studie_medical.observations }}</p>
        </div>
        {% if studie_medical.result %}
            <img  class="img-fluid" src="{{ studie_medical.result.url }}" alt="imagen">
        {% endif %}

        <div class="mt-2 d-flex  justify-content-between">
            <a href="{% url 'studies_medicals:studiesmedicals_pdf_patient' studie_medical.id %}"  class="btn btn-primary">Descargar</a>
        </div>
    </div>
{% endblock content %}