{% extends 'base.html' %}

{% block content %}


<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Paciente</th>
        <th scope="col">Medico</th>
        <th scope="col">Tipo Estudio</th>
        <th scope="col">Reportes</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
    {% for studie in studies_patients %}
      <tr>
        <td>{{ studie.name }}</td>
        <td>{{ studie.patient }}</td>
        <td>{{ studie.medical.name }} {{ studie.medical.last_name }}</td>
        <td>{{ studie.type_studie }}</td>
        <td>{{ studie.report }}</td>
        <td>{{ studie.date_joined }}</td>
        <td>
          <a href="{% url 'studies_medicals:studiesmedicals_pdf_patient' studie.id %}">Descargar<a/>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}