<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
</head>
<body>

    <h2><strong>Paciente</strong> {{ studie_medical.patient }}</h2>

    <ul>
        <li><strong>Nombre:</strong> {{ studie_medical.name }}</li>
        <li><strong>Medico:</strong> Dr.{{ studie_medical.medical.name }} {{ studie_medical.medical.last_name }}</li>
        <li><strong>Tipo Estudio:</strong> {{ studie_medical.type_studie }}</li>
        <li><strong>Reportes:</strong> {{ studie_medical.report }}</li>
        <li><strong>Fecha:</strong> {{ studie_medical.date_joined }}</li>
    </ul>

</body>
</html>