{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="d-flex justify-content-center py-2">
        <img src="{% static 'images/logos/Logo_png.png' %}" style="width: 350px;" alt="Clinica Cousin">
    </div>

    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/carousel/1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block my-auto position-absolute">
              <h5>Toma de Examenes</h5>
              <p>Nos preocupamos por brindar el mejor servicio.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/carousel/2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/carousel/3.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/carousel/4.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/carousel/5.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% endblock header %}


{% block content %}

    {% include 'components/messages.html' %}

    <div class="card w-100 my-4 mb-5">
        <div class="container-fluid card-index" style="--bs-gutter-x: 0;">
            <div class="row">
                <div class="col-6">
                    <img src="{% static 'images/cards/1_Historial_medico.jpg' %}" class="card-img-top" alt="..." style="border-radius: 0.25rem;">
                </div>
                <div class="card-body col-6 card-body">
                    <h5 class="card-title">Historial médico</h5>
                    <p class="card-text">Ver detalles historial medico.</p>
                    {% if not user.is_authenticated %}
                        <p class="my-4">Debe autenticarse para ver su historial.</p>
                    {% endif %}

                    {% if is_patient and medical_history %}
                        <a href="{% url 'medical_history:medicalhistory_detail' medical_history.id %}" class="btn btn-primary my-4">Ver mi historial</a>
                    {% endif %}

                    {% if is_patient and not medical_history %}
                        <p>Usted aun no tiene historial médico</p> 
                    {% endif %}

                    {% if is_medical %}
                      <a href="{% url 'medical_history:medicalhistory_create' %}" class="btn btn-primary my-4">Crear historial</a><br>
                      <a href="{% url 'medical_history:medicalhistory_list' %}" class="">Ver historiales</a>
                    {% endif %}
                </div>  
            </div>
        </div>
    </div>

    <div class="card w-100 my-4 mb-5">
        <div class="container-fluid card-index" style="--bs-gutter-x: 0;">
            <div class="row">
                <div class="col-6">
                    <img src="{% static 'images/cards/2_Examenes.jpg' %}" class="card-img-top" alt="..." style="border-radius: 0.25rem;">
                </div>
                <div class="card-body col-6 card-body">
                    <h5 class="card-title">Exámenes</h5>
                    <p class="card-text">Ver resultados de exámenes realizados.</p>

                    {% if not user.is_authenticated %}
                        <p class="m-4">Debe autenticarse para ver los exámenes</p>
                    {% endif %}

                    {% if is_patient and studies_medicals %}
                        <a href="{% url 'studies_medicals:studiesmedicals_type' %}" class="btn btn-primary my-4">Ver mis exámenes</a>
                    {% endif %}

                    {% if is_patient and not studies_medicals %}
                        <p class="m-4">Usted aun no tiene exámenes</p> 
                    {% endif %}

                    {% if is_medical %}
                      <a href="{% url 'studies_medicals:studiesmedicals_create' %}" class="btn btn-primary my-4">Crear exámen</a><br>
                      <a href="{% url 'studies_medicals:studiesmedicals_list' %}" class="">Ver exámenes</a>
                    {% endif %}
                </div>  
            </div>
        </div>
    </div>
{% endblock content %}

<style>
    .card-index{
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
</style>