{% extends "historias_clinicas/list.html" %}

<h2 class="display-5 mb-4">Listado de Estudios</h2>
       
{% block table_header %}
    <tr>
        <th>Paciente</th>
        <th>Estudio</th>
        <th></th>
        <th></th>
        <th></th>
        
    </tr>
{% endblock table_header %}
     
{% block table_body %}
    {% for estudio in object_list %}
        <tr>
            <td>{{ estudio.paciente.username }}</td>
            <td>{{ estudio.nombre }}</td>
            <td>
                <a href="" class="btn btn-secondary">Ver detalle</a>
            </td>
            <td>
                <a href="" class="btn btn-primary">Actualizar</a>
            </td>
            <td>
                <a href="" class="btn btn-danger">Eliminar</a>
            </td>
            
        </tr>
    {% endfor %}
{% endblock table_body %}
