{% extends "base.html" %}

{% block header %}
    <h1>Clinica</h1>
{% endblock header %}

{% block content %}

    {% include 'messages.html' %} 

    {% if es_paciente %}
        <h2>Paciente: {{ user.name }} {{ user.last_name }}</h2>
        {% if historia_clinica %}
        <div class="d-grid gap-3">
            <a href="{% url 'historias_clinicas:historiapaciente_detail' %}" class="btn btn-primary">Ver mi Historia Clinica</a><br>
        </div>
        {% else %}
        <p class="fs-4 fst-italic">No hay registros de Historia Clinica para este paciente</p>
        {% endif %}

        {% if estudios %}
            <div class="d-grid gap-3">
                <a href="{% url 'historias_clinicas:estudio_list' %}" class="btn btn-primary">Ver mis estudios</a><br>
            </div>
        {% else %}
            <p class="fs-4 fst-italic">No hay estudios para este paciente</p>
        {% endif %}
    {% endif %}

    {% if es_medico or user.is_superuser%}
        <h2>Medico: {{ user.name }} {{ user.last_name }}</h2>
        <div class="d-grid gap-3">
            <h2 class="display-5"> Historia Clinica</h2>
            <a href="{% url 'historias_clinicas:historiaclinica_create' %}" class="btn btn-primary">Crear Historia Clinica</a> 
            <a href="{% url 'historias_clinicas:historiaclinica_list' %}" class="btn btn-primary">Ver Historias Clinicas</a> <br>
        </div>
        <div class="d-grid gap-3">
            <h2 class="display-5"> Estudios</h2>
            <a href="" class="btn btn-primary">Crear Estudio</a> 
            <a href="{% url 'historias_clinicas:estudio_list' %}" class="btn btn-primary">Ver Estudios</a> <br>
        </div>
    {% endif %}



    <div class="d-grid gap-3 mt-4">
        <a href="{% url 'home:index' %}" class="btn btn-info">Volver atrás</a>
    </div>
{% endblock content %}